@model List<ProgrammerStudio.Web.Models.Domain.BlogPost>

@{
}

<div class="container">
    <div>
        <h1 class="text-dark fs-1">Show All Posts - Adminstrator</h1>
    </div>
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Tags</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="col">@item.Id</th>
                        <th scope="col">@item.Title</th>
                        <th scope="col">
                            @foreach (var tags in item.BlogTags)
                            {
                                <div class="d-flex">
                                    <span class="badge bg-secondary gap-1 mb-1">@tags.DisplayName</span>
                                </div>
                            }
                        </th>
                        <th scope="col">
                            <a asp-area="" asp-controller="AdminBlogs" asp-action="Edit" asp-route-id="@item.Id">
                                Edit
                            </a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>There are no posts on database!</p>
    }

</div>
