@model ProgrammerStudio.Web.Models.ViewModels.AddTagModel
@{
}


<div class="container">
    <div>
        <h1 class="text-dark fs-1">Add New Tags - Adminstrator</h1>
    </div>
    <div>
        <form method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Type the tag name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" asp-for="@Model.Name" >
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Display Name</label>
                <input type="text" class="form-control" id="exampleInputPassword1" asp-for="@Model.DisplayName" >
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>